.secondary-header {
    color: #afafaf;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    font-weight: 100;
    position: relative;
    opacity: 0;
    animation: fly-up 0.75s forwards;
    animation-delay: 2.6s;
    .secondary-header-text {
        display: inline-block;
        min-width: max-content;
        &:first-of-type {
            margin-right: .5rem;
        }
        @media screen and (max-width: 530px) {    
            font-size: .9em;
        }
    }
}
.bullet {
    padding: 0 2rem;
}

@keyframes fly-up {
    0% {
      bottom: -2em;
      opacity: .5;
    }  
    100% {
      bottom: 0;
      opacity: 1;
    }
}